*{
   margin:0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}
header{
   background-image: url(/images/donation1.jpg);
   width: 1440px;
   height: 669px;
   left: 0px;
   top: 0px;
   background-repeat: no-repeat;

}
